<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDispatcherService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/dispatcher" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDispatcherService"
                contract="DispatcherServiceReference.IDispatcherService" name="BasicHttpBinding_IDispatcherService" />
        </client>
    </system.serviceModel>
</configuration>