<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDispatcherService" />
                <binding name="BasicHttpBinding_IChatService" />
                <binding name="BasicHttpBinding_IAuthService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/dispatcher" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDispatcherService"
                contract="DispatcherServiceReference.IDispatcherService" name="BasicHttpBinding_IDispatcherService" />
            <endpoint address="http://localhost:8085/chatservice" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IChatService" contract="ChatServiceReference.IChatService"
                name="BasicHttpBinding_IChatService" />
            <endpoint address="http://localhost:8085/authservice" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAuthService" contract="AuthServiceReference.IAuthService"
                name="BasicHttpBinding_IAuthService" />
        </client>
    </system.serviceModel>
</configuration>